@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500;1,600&display=swap");


* {
	box-sizing: border-box;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	line-height: 1.2;
	color: #030407;
}



.navbar {
	position: -webkit-sticky;
	position: sticky;
	display: flex;
	justify-content: space-around;
	z-index: 999;
	top: 0px;
	background-color: #fff;
	border-bottom: 1px solid #ebebef;
	padding: 20px 58px;
	background-attachment: scroll !important;
}

.left-nav {
	display: flex;
	align-items: center;
	-webkit-box-align: center;
}

.brand {
	position: relative;
	float: left;
	text-decoration: none;
	color: #333333;
}

img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	border: 0;
	overflow-clip-margin: content-box;
	overflow: clip;
}

.nav-menu {
	position: relative;
	display: flex;
	width: 100%;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	grid-column-gap: 12px;
}

.right-nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 12px;
	-webkit-box-pack: end;
	-webkit-box-align: center;
}

.nav-link {
	padding: 10px 16px;
	-webkit-box-align: center;
	color: #3e404c;
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
	white-space: nowrap;
	letter-spacing: -0.02em;
}

.btn-primary {
	padding: 10px 20px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-box-pack: center;
	background-color: #0AB248;
	transition: all 500ms cubic-bezier(0.6, 0.6, 0, 1);
	color: #fff;
	font-size: 16.5px;
	line-height: 24px;
	font-weight: 500;
	text-align: center;
	letter-spacing: -0.02em;
	border: 0;
	margin: 0;
	text-decoration: none;
	cursor: pointer;
	border-radius: 0;
}

a {
	background-color: transparent;
	text-decoration: none;
}

.content {
	display: flex;
	height: 100%;
	max-width: 100%;
	min-height: 90vh;
	margin-left: 0;
	margin-right: 0;
	flex-direction: row;
}

.left {
	display: flex;
	width: 50%;
	align-items: center;
	padding-right: 3%;
	padding-left: 5%;
	-webkit-box-align: center;
}

.right {
	display: flex;
	width: 50%;
	height: 92.12vh;
	margin-left: auto;
	padding: 64px 5%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	background-image: url("../img/Desk1.svg");
	background-position: 170px 300px;
	background-size: 50%;
    background-repeat: no-repeat;
}

h1 {
	margin-top: 65px;
    margin-bottom: 0;
    font-family: 'Archivo', sans-serif;
    font-size: 64px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: -0.03em;
}

.quote{
    display: block;
    margin-bottom: 120px;
    text-align: center;

}

.content-block {
	display: flex;
	height: 100%;
	max-width: 680px;
	/* max-height: 610px; */
	flex-direction: column;
	justify-content: space-between;
}

.form-block {
	width: 100%;
	max-width: 480px;
	margin-left: auto;
	position: relative;
	margin-bottom: 0px;
}

.form-title {
	margin-bottom: 48px;
	border-style: none;
	text-align: left;
}

input,
button, textarea {
	font: inherit;
}

h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: 'Archivo', sans-serif;
	font-size: 40px;
	line-height: 1.2;
	font-weight: 700;
	letter-spacing: -0.03em;
}

p {
	margin-bottom: 0px;
	color: #3e404c;
	font-size: 16px;
	line-height: 32px;
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: 600;
}

.form-field {
	height: 48px;
	margin-bottom: 24px;
	padding: 12px;
	border: 1px solid #ebebef;
}

.w-input {
	display: block;
	width: 100%;
	font-size: 14px;
	line-height: 1.443;
	color: #333333;
	background-color: #ffffff;
	border: 1px solid #cccccc;
}

#text{
    background-color: #ffffff;
	border: 1px solid #cccccc;
    margin-bottom: 24px;
	padding: 5px;
}

.w-button {
	width: 100%;
	display: inline-block;
	border: 0;
	margin: 0;
	text-decoration: none;
	cursor: pointer;
	border-radius: 0;
}

.form-footer {
	display: flex;
	justify-content: flex-start;
	grid-column-gap: 8px;
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #ebebef;
}

.form-footer a {
	color: #0AB248;
	font-family: 'Inter', sans-serif;
	font-size: 14px;
}

.text {
	color: #606476;
	line-height: 18px;
}

