@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500;1,600&display=swap");

html,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
:root {
	--color-GraySmoke: #3e404c;
	--bg-BlueMain: #443fde;
	--bg-BlueButton: #3935b6;
	--color-BorderWhite: #ebebef;
	--border-Default: 1px solid var(--color-BorderWhite);
}
body {
	font-family: "Inter", sans-serif;
	max-width: 100vw;
	max-height: 100vh;
	height: 100%;
}
main,
form {
	display: flex;
	position: relative;
	height: 100%;
	justify-content: center;
	align-items: center;
	margin-top: 1%;
	text-align: justify;
}
h1 {
	font-size: 1.6rem;
	font-weight: bolder;
}
.left-side {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 50%;
}
.icon {
	display: flex;
	gap: 1rem;
}
.image {
	padding: 5px;
	box-shadow: 0 0 1px var(--color-GraySmoke);
}
.image-title {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}
.image-title p:first-of-type {
	font-weight: bolder;
	font-size: 1.5rem;
}
.image-title p:last-of-type {
	font-size: 0.9rem;
	color: var(--color-GraySmoke);
}
.location-info {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
}
.location-info .location {
	display: flex;
	gap: 1rem;
}
.location p {
	font-size: 0.9rem;
	color: var(--color-GraySmoke);
}
.location .icon-location {
	color: var(--bg-BlueMain);
}
.location .icon-dolar {
	color: rgb(22, 165, 22);
}
.datails {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.qualification ul,
.about-job p {
	margin-left: 5%;
}
.qualification ul li,
.about-job p {
	color: var(--color-GraySmoke);
}

/* Comecando com os texts */
.personal-info {
	display: flex;
	flex-direction: column;
	gap: 3.5rem;
}

.pDetails {
	display: flex;
	flex-direction: column;
	gap: 1.1rem;
}
.pDetailsSub {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}
.pDetailsSub input {
	outline: none;
	width: 80%;
	height: 3.2rem;
	border: var(--border-Default);
	border-radius: 1px;
	padding-left: 2%;
}
.pDetailsSub input:focus {
	border: 1px solid var(--bg-BlueMain);
}
.pProfile {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}
.pProfileSub textarea {
	outline: none;
	border: var(--border-Default);
	padding: 1%;
}
.pProfileSub textarea:focus {
	border: 1px solid var(--bg-BlueMain);
}

.sProfile {
	margin-top: -2%;
}
.inpSubmite {
	width: 100%;
	margin-top: -3%;
	margin-bottom: 20vh;
}
.inpSubmite input {
	width: 80%;
	height: 3rem;
	border: none;
	background-color: var(--bg-BlueMain);
	color: white;
	font-weight: bolder;
	font-size: 1rem;
}
