@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;300;400;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: Inter, sans-serif;
  color: #030407;
  font-size: 14px;
  line-height: 1.2;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Archivo, sans-serif;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.02em;
}

p {
  margin-bottom: 0px;
  color: #3e404c;
  font-size: 16px;
  line-height: 32px;
}

.top-info {
  display: flex;
  max-width: 610px;
  margin-right: auto;
  margin-bottom: 72px;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.top-info div:first-child {
  width: 100%;
  margin-bottom: 16px;
}
.top-info div:first-child h2 {
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search1 {
  border: 1px solid #ebebef;
  display: flex;
  width: 100%;
  max-width: 720px;
  padding: 14px;
  background-color: #fff;
}

.input-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
  padding-top: 0.2rem;
}
.input-wrapper span {
  color: #3e404c;
  margin-left: 0.5rem;
}
.input-wrapper input {
  height: 44px;
  font-size: 1.2rem;
  line-height: 1.42857143;
  color: #333333;
  border: 1px none #000;
  outline: none;
  margin-left: 0.5rem;
  vertical-align: middle;
  width: 100%;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.search button , .card-ver-mais>form>button{
  padding: 10px 32px;
  background-color: #443fde;
  transition: all 500ms cubic-bezier(0.6, 0.6, 0, 1);
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  border: none;
}

.search button:hover , .card-ver-mais>form>button:hover{
  background-color: #3935b6;
}

.listar-jobs {
  height: 500rem;
  width: 100%;
  padding: 2rem;
  margin-top: -4.5rem;
}

.background-listar-jobs {
  background-color: #f9f9fb;
  padding: 9rem 25rem 5rem 25rem;
  display: flex;
}

.left-filters{
  width: 15rem;
}

.background-listar-jobs > div > div:first-child{
  margin-bottom: 2rem;
}

.background-listar-jobs > div > div:first-child p {
  color: #443fde;
  font-size: 14px;
  line-height: 1.8;
  font-weight: 600;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.background-listar-jobs > div > div:first-child p > span {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 500;
  letter-spacing: -0.02em;
}

.background-listar-jobs > div > div:first-child p > span .fa-solid{
  margin-right: 0.5rem;
}

.div-filters button{
  color: #222222;
  cursor: pointer;
  margin-top: 0px;
  border: none;
  background-color: transparent;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 500;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}


.div-filters button span{
  display: flex;
  align-items: center;
  position: absolute;
  right: 0.5rem;
}

.div-filters .checkbox-wrapper{
  width: 100%;
  border: none;
  display: none;
} 

.div-filters .checkbox-wrapper div{
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
  border: none;
  user-select: none;
}

.div-filters .checkbox-wrapper div input{
    width: 20px;
    height: 20px;
    margin-top: 0px;
    margin-right: 12px;
    border-color: #d6d7e0;
    border-radius: 0px;
    cursor: pointer;
}

.div-filters .checkbox-wrapper div label{
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: -0.02em;  
  cursor: pointer;
}

.div-filters hr{
  height: 1px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: #e9ecf0;
}

.right-filter{
  padding-left:5rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 51rem;
}

.right-filter .top-right-filter h2{
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: -0.02em;
  color: #030407;
  text-align: center;
}

.right-filter .mostrar-jobs{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 1.5rem;
}
.right-filter .mostrar-jobs .card-jobs{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 1rem;
  width: 20rem;
  margin-bottom: 5rem;
}

.right-filter .mostrar-jobs .card-jobs div{
  margin: 0.5rem 0;
}

.right-filter .mostrar-jobs .card-jobs .card-top{
  display: flex;
  width: 100%;
  align-items: center;
}

.right-filter .mostrar-jobs .card-jobs .card-top div:first-child{
  width: 3rem;
  padding: 0.5rem;
  background-color: #fff;
  margin-right: 1rem;
  border: 1px solid #ebebef;
}
.right-filter .mostrar-jobs .card-jobs .card-top span{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: #030407;
}

.right-filter .mostrar-jobs .card-jobs .card-middle{
  width: 100%;
  word-wrap: break-word;
}

.right-filter .mostrar-jobs .card-jobs .card-middle span{
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Archivo, sans-serif;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 700;
}

.right-filter .mostrar-jobs .card-jobs .card-category-and-type{
  display: flex;
}

.right-filter .mostrar-jobs .card-jobs .card-category-and-type div{
  display: inline-block;
  padding: 6px 12px;
  background-color: #f3f3fc;
  margin-right: 1rem;
}

.right-filter .mostrar-jobs .card-jobs .card-category-and-type div:first-child{
  color: #443fde;
}

.right-filter .mostrar-jobs .card-jobs .card-category-and-type div:last-child{
  color: #c98b40;
}

.right-filter .mostrar-jobs .card-jobs .card-bottom{
  display: flex;
  color:#606476;
  font-weight: 500;
  letter-spacing: -0.03em;
}

.right-filter .mostrar-jobs .card-jobs .card-bottom span{
  color:#606476;
  font-weight: 500;
  letter-spacing: -0.03em;
}
.card-ver-mais{
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content:center ;
}