@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500;1,600&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
}
:root {
	--color-GraySmoke: #3e404c;
	--bg-BlueMain: #443fde;
	--bg-BlueButton: #3935b6;
}
body {
	font-family: "Inter", sans-serif;
	width: 100vw;
	height: 100vh;
}
main {
	display: flex;
	width: 65%;
	height: 100%;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.left-side {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 60vw;
}
.left-side .new {
	display: flex;
	gap: 0.5rem;
}
.new p:first-of-type {
	background-color: var(--bg-BlueMain);
	color: white;
	font-size: 0.8rem;
	font-weight: 600;
	border-radius: 2px;
	padding: 0.2rem 0.5rem;
}
.new p:last-of-type {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8rem;
}
.find {
	padding: 1rem 0;
	font-size: 2rem;
}
.find h1 {
	letter-spacing: 0.1em;
}
.left-content {
	width: 80%;
	text-align: justify;
	margin-bottom: 2rem;
}
.left-content p {
	font-size: 1rem;
	line-height: 1.5rem;
	color: var(--color-GraySmoke);
}

form {
	position: relative;
}
.search {
	display: flex;
	margin-top: 1rem;
	font-size: 1.1rem;
}
.search i {
	position: absolute;
	top: 36%;
	left: 5%;
	color: #3e404c9f;
}
.search input[type="search"] {
	color: #3e404ce7;
	outline: none;
	width: 29rem;
	height: 4rem;
	padding-left: 10%;
	padding-top: 0.5%;
	font-size: 0.9rem;
	border: 1px solid #3e404c42;
}
.search input[type="search"]::placeholder {
	color: #3e404c9f;
	font-size: 14px;
}
.search input[type="search"]::-webkit-search-cancel-button {
	display: none;
}
.search button {
	position: absolute;
	top: 7%;
	left: 71.5%;
	border: none;
	background-color: var(--bg-BlueButton);
	color: white;
	font-weight: bold;
	padding: 19px 38px;
	border-radius: 2px;
}
.right-side {
	width: 60vw;
}
.right-side .image-height {
	width: 95%;
}
.right-side img {
	width: 100%;
	height: 560px;
}
.right-side figcaption {
	color: var(--color-GraySmoke);
	text-align: center;
	border: 1px solid #3e404c1e;
	font-style: italic;
}
